/* Navbar Styles */
header {
    background-color: var(--navbar-bg);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1000;
}

/* Navigation List */
.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    max-height: none;
    overflow: visible;
    transition: max-height 0.5s ease-out;
}

/* Active Navigation List */
.nav-list.active {
    max-height: 30rem;
}

/* Navigation List Item */
.nav-list li {
    margin: 0 2rem;
}

/* Navigation List Link */
.nav-list li a {
    color: var(--navbar-link);
    text-decoration: none;
    font-family: 'Anonymous Pro', serif;
    font-size: 1.2rem;
    position: relative;
}

/* Navigation List Link Hover and Active Effect */
.nav-list li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0.125rem;
    display: block;
    margin-top: 0.3125rem;
    right: 0;
    background: var(--navbar-link-hover);
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
}

.nav-list li a:hover::after,
.nav-list li a.active::after {
    width: 100%;
    left: 0;
    background: var(--navbar-link-hover);
}

/* Language Change Container */
.change-language-container {
    text-align: right;
}

/* Language Change Link */
.change-language-container a {
    color: var(--navbar-link);
    text-decoration: none;
    font-family: 'Anonymous Pro', serif;
    font-size: 1.2rem;
}

/* Language Change Link Hover Effect */
.change-language-container a:hover {
    color: var(--navbar-link-hover);
}

/* Mobile Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

/* Mobile Menu Bar */
.menu-toggle .bar {
    height: 0.1875rem;
    width: 1.5625rem;
    background-color: var(--navbar-link);
    margin: 0.25rem 0;
    transition: 0.3s;
}

/* Language Button Container */
.change-language-container {
    display: flex;
    align-items: center;
}

/* Language Button */
.language-buttom {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: var(--primary-text);
    font-size: 1rem;
}

/* Flag Icon */
.flag-icon {
    width: 2.5rem;
    height: auto;
}

/* Overlay for the menu */
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 999;
}

.menu-overlay.active {
    opacity: 1;
    visibility: visible;
}

/* Mobile Menu Styles */
@media (max-width: 48rem) {
    .nav-container {
        position: fixed;
        top: 0.5rem;
        left: -100%;
        width: 60%; /* Adjust the width to be less wide */
        height: 100vh; /* Make the height cover the entire screen */
        background-color: var(--navbar-bg);
        transition: left 0.3s ease;
        z-index: 1000;
    }

    .nav-container.active {
        left: 0;
    }

    .nav-list {
        flex-direction: column;
        justify-content: flex-start; /* Align items to the top */
        align-items: center;
        margin-top:4.5rem; /* Add margin-top to move the nav-list down */
    }

    .nav-list li {
        margin: 1rem 0;
    }

    .menu-toggle {
        display: flex;
    }

    .language-buttom {
        font-size: 0.875rem;
    }

    .flag-icon {
        width: 2.5rem;
    }
}