/* Home Style */
.home-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65.4vh;
    padding: 2rem;
    background-color: var(--section-bg);
    gap: 2rem;
}

/* Home Content */
.home-content {
    flex: 1;
    text-align: center;
    max-width: 37.5rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Hidden Content */
.home-content h1,
.home-content .home-highlight-content,
.home-content .home-subtitle {
    visibility: hidden;
}

/* Home Title */
.home-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

/* Highlighted Content */
.home-content .home-highlight-content {
    color: var(--secondary-color);
    font-size: 2rem;
}

/* Home Subtitle */
.home-content .home-subtitle {
    font-size: 1.5rem;
    color: var(--secondary-text);
}

/* Home Image Container */
.home-image {
    flex: 0 0 15.625rem;
    display: flex;
    justify-content: center;
    transform: translateX(-50%);
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

/* Home Image */
.home-image img {
    width: 100%;
    max-width: 18.75rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    border: 0.3125rem solid var(--secondary-color);
}

/* Media Queries */
@media (max-width: 48rem) {
    .home-section {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        height: auto;
        padding-top: 1rem; /* Add padding-top to move the content up */
        padding-bottom: 2.2rem; /* Add padding-bottom to reduce the vertical size */
    }

    .home-content {
        margin-bottom: 0.5rem; /* Reduce the margin-bottom to move the image closer to the text */
        max-width: 100%;
    }

    .home-content h1 {
        font-size: 2rem; /* Make the font size smaller */
    }

    .home-content .home-highlight-content {
        font-size: 1.5rem; /* Make the font size smaller */
    }

    .home-content .home-subtitle {
        font-size: 1.2rem; /* Make the font size smaller */
    }

    .home-image {
        flex: 0 0 auto;
        transform: translateY(-50px); /* Initial position for the animation */
        opacity: 0;
        animation: fadeInDown 1s forwards; /* Apply the animation */
    }

    @keyframes fadeInDown {
        from {
            transform: translateY(-50px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .home-image img {
        max-width: 12.5rem;
    }
}